
/project/db-data
/project/db-data
project/db-data/mongo/collection-4--9119564907365761220.wt
project/db-data/mongo/diagnostic.data/metrics.2024-05-05T09-50-15Z-00000
project/db-data/mongo/diagnostic.data/metrics.interim
project/db-data/mongo/index-5--9119564907365761220.wt
project/db-data/mongo/index-6--9119564907365761220.wt
project/db-data/mongo/journal/WiredTigerLog.0000000004
project/db-data/mongo/sizeStorer.wt
project/db-data/mongo/WiredTiger.turtle
project/db-data/mongo/WiredTiger.wt
project/db-data/postgres/pg_stat_tmp/global.stat
